---
import MosaiqLogo from '../components/MosaiqLogo.astro';
import Project from '../components/Project.astro';
import Square from '../components/Square.astro';
import '../styles/reset.css';
import '../styles/global.css';
import FilterText from '../components/FilterText.astro';

const projects = [
    {
        name: 'Card Domain',
        link: 'carddomain.mosaiq.dev',
        description: 'A simple, extremely powerful platform for playing real-time card games online with player-enforced rules.',
        authors: ['Alex Santagata', 'Sam Randa'],
        timeline: 'July 2025 - August 2025',
        technologies: ['React', 'WebSocket', 'Express'],
        left: 10,
    },
    {
        name: 'Minefolio',
        link: 'minefol.io',
        description: 'A portfolio creation and showcase platform for Minecraft builds and building communities.',
        authors: ['Matt Hagger', 'Javier Moncada', 'Thinh Pham'],
        timeline: 'July 2025 - Present',
        technologies: ['React', 'Express'],
        right: 20,
    },
    {
        name: 'Timelier',
        link: 'timelier.app',
        description: 'A tool for students, friends, and coworkers to find compatible times to meet.',
        authors: ['Sam Randa', 'Zoe Fisk', 'Zach Szeto'],
        timeline: 'August 2025 - Present',
        technologies: ['React', 'Websocket', 'Express'],
        left: 30,
    },
];
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link
            rel="icon"
            type="image/svg+xml"
            href="/favicon.ico"
        />
        <meta
            name="viewport"
            content="width=device-width"
        />
        <meta
            name="generator"
            content={Astro.generator}
        />
        <title>Astro</title>
    </head>
    <script>
        import { gsap } from 'gsap';
        import { ScrollTrigger } from 'gsap/ScrollTrigger';
        import { ScrollSmoother } from 'gsap/ScrollSmoother';

        gsap.registerPlugin(ScrollTrigger, ScrollSmoother);
        const smoother = ScrollSmoother.create({
            smooth: 1,
            effects: true,
        });

        ScrollTrigger.addEventListener('refresh', () => smoother.refresh());

        document.getElementById('see-our-work')?.addEventListener('click', () => {
            smoother.scrollTo('#projects', true);
        });
    </script>
    <body class="smooth-wrapper">
        <div class="smooth-content">
            <nav>
                <a
                    href="/"
                    class="nav-logo"
                >
                    <img
                        src="assets/MosaiqLogoTransparent.png"
                        alt="The Mosaiq Logo"
                        height="50"
                    />
                    <h2>Mosaiq Software</h2>
                </a>
                <div id="link-group">
                    <a href="/about">About</a>
                    <a href="/contact">Contact</a>
                    <a href="/join">Join</a>
                </div>
            </nav>
            <section id="hero">
                <div id="hero-text">
                    <FilterText>
                        Software development<br />for the inner child
                    </FilterText>
                    <p>
                        Mosaiq Software is a non-profit student software development<br />
                        group based out of Worcester, Massachusetts making stupidly<br />
                        cool things on the web.
                    </p>
                    <button
                        class="outline-button"
                        id="see-our-work"
                    >
                        See Our Work
                    </button>
                </div>
                <div id="hero-logo">
                    <MosaiqLogo />
                </div>
            </section>
            <section id="projects">
                <h1>Projects</h1>
                {
                    projects.map((project) => (
                        <Project
                            name={project.name}
                            link={project.link}
                            description={project.description}
                            authors={project.authors}
                            timeline={project.timeline}
                            technologies={project.technologies}
                            left={project.left}
                            right={project.right}
                        />
                    ))
                }
                <Square
                    width={10}
                    size={800}
                    color="var(--mosaiq-pink)"
                    className="square1"
                    top="30%"
                    left="-225px"
                    rotation="55deg"
                />
                <Square
                    width={10}
                    size={400}
                    color="var(--mosaiq-blue)"
                    className="square1"
                    top="60%"
                    left="60%"
                    rotation="-10deg"
                />
                <Square
                    width={10}
                    size={400}
                    color="var(--mosaiq-navy)"
                    className="square1"
                    top="30%"
                    right="-500px"
                    rotation="15deg"
                />
                <Square
                    width={10}
                    size={300}
                    color="var(--mosaiq-magenta)"
                    className="square1"
                    top="85%"
                    left="25%"
                    rotation="45deg"
                />
            </section>
            <section id="contact">
                <h1>Contact</h1>
            </section>
        </div>
    </body>
</html>

<style>
    body {
        background-color: var(--color-background);
        width: 100vw;
        overflow-x: hidden;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--spacing-sm) var(--spacing-lg);
        position: sticky;
        top: 0;
        z-index: 3;
    }

    .nav-logo {
        display: flex;
        align-items: center;
        gap: var(--spacing-sm);
    }

    #link-group {
        display: flex;
        gap: var(--spacing-md);
        border: 1px solid var(--color-text);
        padding: var(--spacing-sm) var(--spacing-md);
        border-radius: var(--border-radius-full);
    }

    #hero {
        height: calc(100vh - 100px);
        display: flex;
        position: relative;
    }

    #hero-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4rem;
        margin: var(--spacing-lg);
    }

    #hero-logo {
        position: absolute;
        inset: 0;
        left: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #projects {
        display: flex;
        flex-direction: column;
        gap: 10em;
        flex: 1;
        margin: 10em var(--spacing-lg);
    }

    #projects h1,
    #contact h1 {
        font-size: 8rem;
        color: var(--color-surface);
    }

    section {
        position: relative;
        z-index: 2;
    }

    #contact {
        height: 100vh;
    }
</style>
