---
import MosaiqLogo from '../components/MosaiqLogo.astro';
import Project from '../components/Project.astro';
import '../styles/reset.css';
import '../styles/global.css';

const projects = [
    {
        name: 'Card Domain',
        link: 'carddomain.mosaiq.dev',
        description: 'A simple, extremely powerful platform for playing real-time card games online with player-enforced rules.',
        authors: ['Alex Santagata', 'Sam Randa'],
        timeline: 'July 2025 - August 2025',
        technologies: ['React', 'WebSocket', 'Express'],
        left: 10
    },
    {
        name: 'Minefolio',
        link: 'minefol.io',
        description: 'A portfolio creation and showcase platform for Minecraft builds and building communities.',
        authors: ['Matt Hagger', 'Javier Moncada', 'Thinh Pham'],
        timeline: 'July 2025 - Present',
        technologies: ['React', 'Express'],
        right: 20
    },
    {
        name: 'Timelier',
        link: 'timelier.app',
        description: 'A tool for students, friends, and coworkers to find compatible times to meet.',
        authors: ['Sam Randa', 'Zoe Fisk', 'Zach Szeto'],
        timeline: 'August 2025 - Present',
        technologies: ['React', 'Websocket', 'Express'],
        left: 30
    }
];
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link
            rel="icon"
            type="image/svg+xml"
            href="/favicon.ico"
        />
        <meta
            name="viewport"
            content="width=device-width"
        />
        <meta
            name="generator"
            content={Astro.generator}
        />
        <title>Astro</title>
    </head>
    <body>
        <section id="hero">
            <div id="hero-text">
                <h1>Mosaiq<br>Software</h1>
                <p>
                    A non-profit student software development group<br>
                    making stupidly cool things on the web.
                </p>
                <button class="outline-button">
                    See Our Work
                </button>
            </div>
            <div id="hero-logo">
                <MosaiqLogo />
            </div>
        </section>
        <section id="projects">
            <h1>Projects</h1>
            {
                projects.map(project => (
                    <Project
                        name={project.name}
                        link={project.link}
                        description={project.description}
                        authors={project.authors}
                        timeline={project.timeline}
                        technologies={project.technologies}
                        left={project.left}
                        right={project.right}
                    />
                ))
            }
        </section>
        <section id="contact">
            <h1>Contact</h1>
        </section>
    </body>
</html>

<style>
    body {
        background-color: var(--color-background);
    }

    #hero {
        height: 100vh;
        display: flex;
        position: relative;
    }

    #hero-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--spacing-xl);
        margin: var(--spacing-lg);
    }

    #hero-logo {
        position: absolute;
        inset: 0;
        left: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #hero-text h1 {
        font-size: 8rem;
        line-height: 0.9;
        margin: 0;
    }

    #projects {
        display: flex;
        flex-direction: column;
        gap: 10em;
        flex: 1;
        margin: 10em var(--spacing-lg);
    }

    #projects h1, #contact h1 {
        font-size: 8rem;
        color: var(--color-surface);
    }

    section {
        position: relative;
        z-index: 2;
    }

    #contact {
        height: 100vh;
    }
</style>