---
import Icon from '../Icon.astro';
import type { Project } from '../../scripts/types';
import HoverCard from '../HoverCard.astro';

interface Props {
    project: Project;
}

const { project } = Astro.props;
const { name, link, description, authors, timeline, technologies, previewImage, left, right } = project;
const inlineStyle = `
    ${left ? `align-self: flex-start; margin-left: ${left}%;` : ''}
    ${right ? `align-self: flex-end; margin-right: ${right}%;` : ''}
`;
---

<HoverCard>
    <div
        class="project-card"
        style={inlineStyle}
    >
        {
            link ? (
                <a
                    href={`https://${link}`}
                    class="project-link"
                    target="_blank"
                >
                    <h2>{name}</h2>
                    <Icon
                        name={'external-link'}
                        size={'md'}
                    />
                </a>
            ) : (
                <h2>{name}</h2>
            )
        }
        <p class="description">{description}</p>
        <div>
            <p class="authors">{authors.join(', ')}</p>
            <p class="timeline">{timeline}</p>
            <p class="technologies">{technologies.join(', ')}</p>
        </div>
    </div>
    <div
        slot="card"
        class="preview-image"
    >
        {
            previewImage && (
                <img
                    src={previewImage}
                    aria-hidden="true"
                />
            )
        }
    </div>
</HoverCard>

<style>
    .project-card {
        border-radius: 8px;
        padding: var(--spacing-md);
        border: 1px solid var(--color-text);
        max-width: 500px;
        width: fit-content;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-md);
        backdrop-filter: blur(10px);
        background-color: var(--color-background-transparent);
        margin-top: 10rem;
        position: relative;
    }

    .project-link {
        text-decoration: none;
        color: inherit;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:hover {
            text-decoration: underline;
        }

        h2 {
            margin: 0;
        }
    }

    .authors,
    .technologies,
    .timeline {
        color: var(--color-text-secondary);
    }

    .preview-image {
        border-radius: 0 var(--border-radius-full) var(--border-radius-full) var(--border-radius-full);
        overflow: clip;
        /* /* Fades out the edges of the image radially, but idk abt it.. */
        -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 95%);
        mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 95%);

        img {
            width: 400px;
            height: 400px;
            object-fit: cover;
        }
    }
</style>
